<div
  style="
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #f6f9fc;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
>
  <div
    style="
          max-width: 450px;
          width: 100%;
          background-color: white;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          border-radius: 8px;
          overflow: hidden;
        "
  >
    <div
      style="
            background-image: url('https://res.cloudinary.com/dgde8cwjk/image/upload/v1716889371/Frame_325_nvabsa.png');
            padding: 20px;
            text-align: center;
          "
    >
      <img
        src="https://res.cloudinary.com/obacloud/image/upload/v1715955465/White_Logo_soaxrr.png"
        alt="10X Revenue Growth Logo"
        style="max-width: 100%; height: auto"
      />
    </div>
    <div style="padding: 20px; text-align: start">
      <h2
        style="
              color: #333;
              font-size: 20px;
              margin: 0 0 20px;
              text-align: center;
            "
      >
        Your PDF Purchase is Ready! Access Your Document Here
      </h2>
      <p
        style="
              color: #555;
              font-size: 14px;
              line-height: 1.5;
              margin: 0 0 20px;
            "
      >
        Thank you for your recent purchase! We are delighted to provide you with
        the PDF document you ordered. To access your PDF, simply click on the
        attachment below.
      </p>
      <p
        style="
              color: #555;
              font-size: 14px;
              line-height: 1.5;
              margin: 0 0 20px;
            "
      >
        If you encounter any issues or have any questions, feel free to reach
        out to our support team.
      </p>
      <h3 style="color: #333; font-size: 16px; margin: 20px 0 10px">
        Attachment
      </h3>
      <div style="display: flex; align-items: center">
        <a
          href="https://res.cloudinary.com/dgde8cwjk/image/authenticated/s--1Dt85nGt--/v1716567244/qkbhvywqaicodblai1lf.pdf"
          target="_blank"
        >
          <img
            src="https://res.cloudinary.com/dgde8cwjk/image/upload/v1716888721/icon__application_pdf__nimqgg.png"
            alt="PDF Icon"
            style="width: 15px; margin-right: 10px"
          />
          <a
            href="https://res.cloudinary.com/dgde8cwjk/image/authenticated/s--1Dt85nGt--/v1716567244/qkbhvywqaicodblai1lf.pdf"
            style="color: black; font-size: 14px; text-decoration: none"
            target="_blank"
          >Zero to N100M Sales Course</a>
        </a>
      </div>
    </div>
  </div>
</div>